.SpeciesCard {
  min-height: 100px;
  border: 1px solid;
  margin-bottom: .5rem;
  padding: 3rem;
}

// .educationList {
//   border: 1px solid;
//   padding: 1rem;

  // width: 400px;
//   .education {
//     border: 1px solid #cfcfcf;
//     padding: 1rem;
//   }
// }